#Home-page {
	  background-color: olive;
}


#Home-page {
	        background: url("http://theplanetd.com/images/Croatia-Sea-kayaking-6-XL.jpg") no-repeat center center fixed;
	        background-size: cover;
}


#navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
	
}

ul.social li {
	list-style-type: none;
}

ul.social {
	/*
	agent stylesheet bumps right 40px
	make 0px
	*/
	padding-left: 0px;
}

img {
	/* set width and height to percentage so 
	it adjust with screen size
	*/
	width: 100%;
	height: 100%;
}

li {
	float: left;
	
}

li a {
	  display:block;
	  color: grey;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
}

li a:hover {
	  background-color: white;
}

.active {
	  background-color: white;
}

#contacts {
	  float: right;
}

p {
   color: black;
   width: 700px;
}

h1 {
	color: black;
}
#kak {
	color: lightblue;
}

#p1 {
	 border-top: double 5px;
	 border-bottom: double 5px;
	 background-color: tan;
	 width: 720px;
}

div {
	float: left;
	display: inline;

}

.d1 {
	border: none;
	border-color: red;
	background: rgba(100, 100,100, 0.5);
	margin-right: 5%;
	width: 10%;
	height: 700px;
}

.d2 {
	border: none;
	border-color: red;
	background: rgba(100, 100, 100, 0.5);
	height: 700px;
	width: 70%;
	

}

.d3 {
	border: none;
	border-color: red;
	background: rgba(100, 100, 100, 0.5);
	margin-left: 5%;
	width: 10%;
	height: 700px;
}


.socialmedia {
	list-style-type: none;
    margin-top: 10px;
    padding: 0px;
    overflow:hidden;
    background-color: transparent;
    top: 0;
    float: left;
    position: fixed;
}

.icon {
	display: block;

}

.media-icon {
	background-color: transparent;
}